body, html, #root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  width: 70%;
  background-color: white;
  border: solid 1px black;
  padding: 50px
}

.upper-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.movie-form label, .movie-form input {
  display: block;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 120px;
  color: #282c34;
  padding: 40px;
  border-radius: 3px;
  margin: 15px;
}